parameters:
    level: max
    checkMissingIterableValueType: true
    ignoreErrors:
      - '#Cannot call method getName\(\) on ReflectionType\|null.#'
      - '#Call to an undefined method (.*)?Mockery\\(.*)::(.*)#'
      - '#Parameter (.*) of (.*) expects (.*)Mockery\\LegacyMockInterface given.#'
      - '#expects class-string<Throwable>, string given.#'
    excludePaths:
      - src/DruidServiceProvider.php
      - src/Facades/Druid.php
    paths:
      - tests
      - src
