parameters:
    level: max
    ignoreErrors:
      - '#Call to an undefined method (.*)Mockery\\(MockInterface|ExpectationInterface)(.*)#'
      - '#constructor expects GuzzleHttp\\Client|null, GuzzleHttp\\Client\|Mockery\\MockInterface given#'
    paths:
      - tests
      - src